- self.content_for(:html, :page) do
  /
    #{__FILE__}
  %div{'data-role'  => 'header',
       'data-theme' => 'b'}
    = @back_button.render(:html)
    %h1
      About
  %div{'data-role'  => 'content',
       'style'      => 'padding-top: 0px'}

    %ul{'data-inset'  => 'true',
        'data-role'   => 'listview',
        'data-theme'  => 'd'}
      %li{'data-role' => 'list-divider'}
        %span
          Versions
      %li
        %span
          %code
            RubyApp
        %span.ui-li-aside
          %code
            #{RubyApp::VERSION}
      %li
        %span
          %code
            Pike
        %span.ui-li-aside
          %code
            #{Pike::VERSION}

    %ul{'data-inset'  => 'true',
        'data-role'   => 'listview',
        'data-theme'  => 'd'}
      %li{'data-role' => 'list-divider'}
        %span
          Miscellaneous
      %li
        %a{'href'   => '/pike/resources/elements/pages/privacy.html',
           'target' => '_blank'}
          Privacy
      %li
        %a{'href'   => 'https://github.com/virtualpatterns/pike',
           'target' => '_blank'}
          Source
      - if Pike::Session.identity.user.administrator? || Pike::Elements::Pages::AboutPage.configuration.system?
        %li
          = @information_link.render(:html) do |element|
            - element.content_for(:html, :link, 'System')
