- self.content_for(:html, :page) do
  /
    #{__FILE__}
  %div{'data-role'  => 'header',
       'data-theme' => 'b'}
    = @back_button.render(:html)
    %h1
      About
  %div{'data-role'  => 'content',
       'style'      => 'padding-top: 0px'}

    %ul{'data-inset'  => 'true',
        'data-role'   => 'listview',
        'data-theme'  => 'd'}
      %li
        %span
          Version
        %span.ui-li-aside
          %code
            = "Pike #{Pike::VERSION}"

    %ul{'data-inset'  => 'true',
        'data-role'   => 'listview',
        'data-theme'  => 'd'}
      %li
        - subject = URI.escape('Mobile and Desktop Task Tracking')
        - body = URI.escape("Mobile and desktop task tracking ... #{RubyApp::Request.base_url}")
        %a{'href' => "mailto:?subject=#{subject}&body=#{body}"}
          Share App

    %ul{'data-inset'  => 'true',
        'data-role'   => 'listview',
        'data-theme'  => 'd'}
      %li
        %a{'href'   => 'pike/resources/elements/pages/privacy.html',
           'target' => '_blank'}
          Privacy Policy
      %li
        %a{'href'   => 'https://github.com/virtualpatterns/pike',
           'target' => '_blank'}
          Source Code
      - if Pike::Session.identity.user.administrator? || Pike::Elements::Pages::AboutPage.configuration.system?
        %li
          = @information_link.render(:html) do |element|
            - element.content_for(:html, :link, 'System Information')
