- self.content_for(:header_left) do
  /
    #{__FILE__}
  = @back_button.render(:html)
- self.content_for(:content) do
  /
    #{__FILE__}
  %div{:style => 'font-size: 10pt; text-align: center;'}
    Source code available on
  %div{:style => 'margin: 15px 0px 20px 0px; text-align: center;'}
    %a{:href => 'https://github.com/virtualpatterns/pike', :target => '_blank'}
      %img{:src => '/pike/resources/elements/pages/about_page.png', :width => '100', :height=> '44', :style => 'background-color: white; border-radius: 20px; padding: 10px;'}
  %table.properties{:cellspacing => 0}
    %tr.property
      %td.name
        Versions
      %td.value
        RubyApp #{RubyApp::VERSION}
    %tr.property
      %td.name.last
        &nbsp;
      %td.value.last
        Pike #{Pike::VERSION}
  %table.properties{:cellspacing => 0}
    %tr.property
      %td.name
        Configuration
      %td.value
        = ENV['RUBY_APP_CONFIGURATION'] || 'default'
  %table.properties{:cellspacing => 0}
    %tr.property
      %td.name
        User
      %td.value
        = RubyApp::Session.identity.url
    %tr.property
      %td.name.last
        Mail
      %td.value.last
        = Pike::Application.configuration.mail.to || Pike::Session.identity.user.url
        %div.instructions
          :markdown
            All mail for this user will be sent to this address.
  %table.properties{:cellspacing => 0}
    %tr.property
      %td.name
        Server
      %td.value
        = Socket.gethostname
        %br
        = RubyApp::Request.cookies['_server'] || '(unknown instance)'
    %tr.property
      %td.name
        Remote
      %td.value
        = RubyApp::Language.locale.strftime(Time.now, Pike::Application.configuration.format.date.long)
    %tr.property
      %td.name.last
        Local
      %td.value.last
        = RubyApp::Language.locale.strftime(@now, Pike::Application.configuration.format.date.long)
