- self.content_for(:html, :page) do
  /
    #{__FILE__}
  %div{'data-role'  => 'header',
       'data-theme' => 'b'}
    = @back_button.render(:html)
    %h1
      Activity
    = @done_button.render(:html)
  %div{'data-role'  => 'content',
       'style'      => 'padding-top: 0px'}
    %ul{'data-inset'  => 'true',
        'data-role'   => 'listview',
        'data-theme'  => 'd'}
      %li
        %label.ui-hidden-accessible{'for' => @name_input.element_id}
          Name
        = @name_input.render(:html)
      %li
        %label.ui-hidden-accessible{'for' => @is_shared_input.element_id}
          Shared
        = @is_shared_input.render(:html) do |element|
          - element.content_for(:html, :on, 'Shared')
          - element.content_for(:html, :off, 'Private')

    %p.instructions.copy_of{'style' => "display: #{@activity.copy? ? 'block' : 'none'}"}
      Activities shared with you by a friend cannot be updated, deleted, or shared with your friends.

    %p.instructions.new{'style' => "display: #{@activity.new? ? 'block' : 'none'}"}
      = @save_link.render(:html) do |element|
        - element.content_for(:html, :link, 'Save')
      the activity in order to add or edit properties.

    = @property_value_list.render(:html)

    %div.delete{'style' => "display: #{@activity.new? || @activity.copy? ? 'none' : 'block'}"}
      = @delete_button.render(:html) do |element|
        - element.content_for(:html, :link, 'Delete Activity')
