- self.content_for(:header_left) do
  /
    #{__FILE__}
  = @cancel_button.render(:html) do |element|
    - element.content_for(:body, 'Cancel')
- self.content_for(:header_center) do
  /
    #{__FILE__}
  Activity
- self.content_for(:header_right) do
  /
    #{__FILE__}
  = @done_button.render(:html) do |element|
    - element.content_for(:body, 'Done')
- self.content_for(:content) do
  /
    #{__FILE__}
  %div.properties
    %div.property
      %div.name
        %label{:for => @name_input.element_id}
          Name
      %div.value
        = @name_input.render(:html) do |element|
          - element.attributes.merge!(:autofocus => true, :placeholder => 'tap to enter a name', :disabled => @activity.copy_of ? true : false)
        - if @activity.copy_of
          %div.instructions
            :markdown
              Names of shared activities cannot be changed and they cannot be re-shared.
    %div.property
      %div.name.last
        %label{:for => @is_shared_input.element_id}
          Shared
      %div.value.last
        = @is_shared_input.render(:html) do |element|
          - element.attributes.merge!(:autofocus => false, :disabled => @activity.copy_of ? true : false)
  = @properties.render(:html)
  - unless @activity.new? || @activity.copy_of
    %div.properties
      %div.property
        %div.name.last
          &nbsp;
        %div.buttons.last
          = @delete_button.render(:html) do |element|
            - element.attributes.merge!(:class => 'delete', :disabled => @project.copy_of ? true : false)
            - element.content_for(:body, 'Delete Activity')
