- self.content_for(:html, :header_left) do
  /
    #{__FILE__}
  = @back_button.render(:html)
- self.content_for(:html, :header_center) do
  /
    #{__FILE__}
  Activities
- self.content_for(:html, :header_right) do
  /
    #{__FILE__}
  = @add_button.render(:html) do |element|
    - element.content_for(:html, :body, 'Add')
- self.content_for(:html, :content) do
  /
    #{__FILE__}
  - if Pike::Session.identity.user.activities.exists?
    = @activity_list.render(:html)
  - else
    = @content.render(:html) do |element|
      - element.content_for(:html, :body) do
        You haven't created any activities.  Tap [here](add_activity) or use the [Add](add_activity) button to create your first activity.
