= Pike::Elements::Properties.render(:js)
= RubyApp::Elements::Button.render(:js)
= RubyApp::Elements::Dialogs::ConfirmationDialog.render(:js)
= RubyApp::Elements::Dialogs::ExceptionDialog.render(:js)
= RubyApp::Elements::Input.render(:js)
= yield
