- self.content_for(:body) do
  /
    #{__FILE__}
  %div.header
    %div.left
      = yield :header_left
    %div.center
      = yield :header_center
    %div.right
      = yield :header_right
  %div.content
    = yield :content
