- self.content_for(:body) do
  /
    #{__FILE__}
  %div.logo
    %div.left
      Pike
    %div.right
      Efficient Mobile Task Tracking
  %div.version
    RubyApp Version #{RubyApp::VERSION}
    %br
    Pike Version #{Pike::VERSION}
  %div.logon
    - unless RubyApp::Session.identity
      = @logon_button.render(:html) do |element|
        - element.attributes.merge!(:class => 'logon')
        - element.content_for(:body, 'Logon with Google')
      = @content.render(:html) do |element|
        - element.content_for(:body) do
          Click [here](logon_demo_user) to logon as the demo user.
    - else
      You are logged on as ...
      %div.email
        = RubyApp::Session.identity.url
      = @logoff_button.render(:html) do |element|
        - element.attributes.merge!(:class => 'logoff')
        - element.content_for(:body, 'Logoff')
      = @continue_button.render(:html) do |element|
        - element.attributes.merge!(:class => 'continue')
        - element.content_for(:body, 'Continue')
