- self.content_for(:html, :page) do
  /
    #{__FILE__}
  %div{'data-fullscreen'  => 'true',
       'data-position'    => 'fixed',
       'data-role'        => 'header'}
    %h1
      Pike
    - if Pike::Elements::Pages::DefaultPage.configuration.scripts?
      = @scripts_button.render(:html) do |element|
        - element.content_for(:html, :link, 'Scripts')
  %div{'data-role' => 'content'}
    %div.logon
    = @logon_facebook_button.render(:html) do |element|
      - element.content_for(:html, :link, 'Logon with Facebook')
    = @logon_google_button.render(:html) do |element|
      - element.content_for(:html, :link, 'Logon with Google')
  - if Pike::Elements::Pages::DefaultPage.configuration.guests?
    %div{'class'            => 'ui-bar',
         'data-fullscreen'  => 'true',
         'data-position'    => 'fixed',
         'data-role'        => 'footer'}
      %div.label
        Guest Logons
      %div{'data-role' => 'controlgroup',
           'data-type' => 'horizontal'}
        = @first_button.render(:html) do |element|
          - element.content_for(:html, :link, 'First')
        = @second_button.render(:html) do |element|
          - element.content_for(:html, :link, 'Second')
        = @random_button.render(:html) do |element|
          - element.content_for(:html, :link, 'Random')
