- self.content_for(:html, :page) do
  /
    #{__FILE__}
  %div{'data-role'  => 'header',
       'data-theme' => 'b'}
    = @back_button.render(:html)
    %h1
      Friend
  %div{'data-role'  => 'content',
       'style'      => 'padding-top: 0px'}
    %ul.friendship{'data-inset'  => 'true',
                   'data-role'   => 'listview',
                   'data-theme'  => 'd'}
      %li.user
        = @friendship.user_target.name
        %div.email
          = @friendship.user_target.uri

    = @delete_button.render(:html) do |element|
      - element.content_for(:html, :link, 'Delete Friend')
