:sass
  ul.friendship
    li.user
      div.email
        font-size: 80%
= RubyApp::Elements::Mobile::Button.render(:css)
= RubyApp::Elements::Mobile::Dialogs::ConfirmationDialog.render(:css)
= RubyApp::Elements::Mobile::Dialogs::ExceptionDialog.render(:css)
= Pike::Elements::Navigation::BackButton.render(:css)
= yield
