- self.content_for(:header_left) do
  /
    #{__FILE__}
  = @back_button.render(:html)
- self.content_for(:header_center) do
  /
    #{__FILE__}
  Friends
- self.content_for(:header_right) do
  /
    #{__FILE__}
  = @add_button.render(:html) do |element|
    - element.content_for(:body, 'Add')
- self.content_for(:content) do
  /
    #{__FILE__}
  - Pike::Session.identity.user.reload
  - unless Pike::Session.identity.user.introductions_from.count <= 0 && Pike::Session.identity.user.friends.count <= 0
    - unless Pike::Session.identity.user.introductions_from.count <= 0
      %div.title
        Introductions
    = @introduction_list.render(:html)
    - unless Pike::Session.identity.user.friends.count <= 0
      %div.title
        Friends
    = @friend_list.render(:html)
  - else
    = @content.render(:html) do |element|
      - element.content_for(:body) do
        You have no introductions and no friends.  Tap [here](add_friend) or use the [Add](add_friend) button to add your first friend.
