= Pike::Elements::Navigation::BackButton.render(:js)
= Pike::Elements::Pages::FriendshipPage.render(:js)
= Pike::Elements::Pages::IntroductionEditPage.render(:js)
= Pike::Elements::Pages::IntroductionViewPage.render(:js)
= Pike::Elements::FriendshipList.render(:js)
= yield
