- self.content_for(:html, :header_left) do
  /
    #{__FILE__}
  = @back_button.render(:html) do |element|
    - element.content_for(:html, :body, 'Cancel')
- self.content_for(:html, :header_center) do
  /
    #{__FILE__}
  Friend
- self.content_for(:html, :content) do
  /
    #{__FILE__}
  %table.properties{:cellspacing => 0}
    %tr.property
      %td.name
        User
      %td.value
        = @friendship.user_target.url
    %tr.property
      %td.name.last
        &nbsp;
      %td.buttons.last
        = @delete_button.render(:html) do |element|
          - element.attributes.merge!(:class => 'delete')
          - element.content_for(:html, :body, 'Remove Friend')
