- self.content_for(:header_left) do
  /
    #{__FILE__}
  = @cancel_button.render(:html) do |element|
    - element.content_for(:body, 'Cancel')
- self.content_for(:header_center) do
  /
    #{__FILE__}
  Friend
- self.content_for(:content) do
  /
    #{__FILE__}
  %table.properties
    %tr.property
      %td.name
        User
      %td.value
        = @friendship.user_target.url
    %tr.property
      %td.name
        &nbsp;
      %td.buttons
        = @delete_button.render(:html) do |element|
          - element.attributes.merge!(:class => 'delete')
          - element.content_for(:body, 'Remove Friend')
