= Pike::Elements::Navigation::BackButton.render(:css)
= Pike::Elements::Pages::FriendshipPage.render(:css)
= Pike::Elements::Pages::IntroductionEditPage.render(:css)
= Pike::Elements::Pages::IntroductionViewPage.render(:css)
= Pike::Elements::FriendshipList.render(:css)
= yield
