= Pike::Elements::UserInput.render(:js)
= RubyApp::Elements::Mobile::Button.render(:js)
= RubyApp::Elements::Mobile::Dialogs::AcknowledgementDialog.render(:js)
= RubyApp::Elements::Mobile::Dialogs::ExceptionDialog.render(:js)
= RubyApp::Elements::Mobile::Inputs::MultilineInput.render(:js)
= yield
