- self.content_for(:header_left) do
  /
    #{__FILE__}
  = @cancel_button.render(:html) do |element|
    - element.content_for(:body, 'Cancel')
- self.content_for(:header_center) do
  /
    #{__FILE__}
  Introduction
- self.content_for(:content) do
  /
    #{__FILE__}
  %div.properties
    %div.property
      %div.name
        User
      %div.value
        = @introduction.user_source.url
    %div.property
      %div.name
        Message
      %div.value
        = @introduction.message
    %div.property
      %div.name.last
        &nbsp;
      %div.buttons.last
        = @accept_button.render(:html) do |element|
          - element.content_for(:body, 'Accept')
        = @reject_button.render(:html) do |element|
          - element.attributes.merge!(:class => 'delete')
          - element.content_for(:body, 'Ignore')
