- self.content_for(:html, :page) do
  /
    #{__FILE__}
  %div{'data-role'  => 'header',
       'data-theme' => 'b'}
    = @back_button.render(:html)
    %h1
      Introduction
    = @done_button.render(:html)
  %div{'data-role'  => 'content',
       'style'      => 'padding-top: 0px'}
    %ul{'data-inset'  => 'true',
        'data-role'   => 'listview',
        'data-theme'  => 'd'}
      %li
        = @user_link.render(:html) do |element|
          - element.content_for(:html, :link) do
            - if @introduction.user_target
              %span
                = @introduction.user_target.name
            - else
              %span.ui-disabled
                tap to select a user
      %li
        %label.ui-hidden-accessible{'for' => @message_input.element_id}
          Message
        = @message_input.render(:html)

    %p.instructions
      Add a friend by first introducing yourself.  If your introduction is accepted
      your friend will appear as well as any shared projects and activities.
      