= Pike::Elements::UserInput.render(:js)
= RubyApp::Elements::Button.render(:js)
= RubyApp::Elements::Dialogs::AcknowledgementDialog.render(:js)
= RubyApp::Elements::Dialogs::ExceptionDialog.render(:js)
= RubyApp::Elements::Inputs::MultilineInput.render(:js)
= yield
