- self.content_for(:html, :header_left) do
  /
    #{__FILE__}
  = @cancel_button.render(:html) do |element|
    - element.content_for(:html, :body, 'Cancel')
- self.content_for(:html, :header_center) do
  /
    #{__FILE__}
  Introduction
- self.content_for(:html, :content) do
  /
    #{__FILE__}
  %table.properties{:cellspacing => 0}
    %tr.property
      %td.name
        User
      %td.value
        = @introduction.user_source.url
    %tr.property
      %td.name
        Message
      %td.value
        = @introduction.message
    %tr.property
      %td.name.last
        &nbsp;
      %td.buttons.last
        = @accept_button.render(:html) do |element|
          - element.content_for(:html, :body, 'Accept')
        = @reject_button.render(:html) do |element|
          - element.attributes.merge!(:class => 'delete')
          - element.content_for(:html, :body, 'Ignore')
