- self.content_for(:html, :header_left) do
  /
    #{__FILE__}
  = @back_button.render(:html) do |element|
    - element.content_for(:html, :body, 'Cancel')
- self.content_for(:html, :header_center) do
  /
    #{__FILE__}
  Introduction
- self.content_for(:html, :header_right) do
  /
    #{__FILE__}
  = @done_button.render(:html) do |element|
    - element.content_for(:html, :body, 'Send')
- self.content_for(:html, :content) do
  /
    #{__FILE__}
  %table.properties{:cellspacing => 0}
    %tr.property
      %td.name
        %label{:for => @user_target_input.element_id}
          User
      %td.value
        = @user_target_input.render(:html) do |element|
          - element.attributes.merge!(:autofocus => true, :placeholder => 'tap to specify a user')
        %div.instructions
          :markdown
            Enter the user's email address.
    %tr.property
      %td.name.last
        %label{:for => @message_input.element_id}
          Message
      %td.value.last
        = @message_input.render(:html) do |element|
          - element.attributes.merge!(:autofocus => false, :placeholder => 'tap to enter a message')
