= RubyApp::Elements::Mobile::Dialogs::AcknowledgementDialog.render(:js)
= RubyApp::Elements::Mobile::Dialogs::ExceptionDialog.render(:js)
= RubyApp::Elements::Mobile::Navigation::NavigationLink.render(:js)
= Pike::Elements::Inputs::MultilineInput.render(:js)
= Pike::Elements::Navigation::BackButton.render(:js)
= Pike::Elements::Navigation::DoneButton.render(:js)
= Pike::Elements::Pages::UserSelectPage.render(:js)
= yield
