- self.content_for(:html, :page) do
  /
    #{__FILE__}
  %div{'data-role'  => 'header',
       'data-theme' => 'b'}
    = @back_button.render(:html)
    %h1
      Message
  %div{'data-role'  => 'content',
       'style'      => 'padding-top: 0px'}
    %ul.message-state-page{'data-inset'  => 'true',
        'data-role'   => 'listview',
        'data-theme'  => 'd'}
      %li
        = @message_state.message.subject
      %li
        %div
          Created
        %div.created-at.ui-li-aside
          = RubyApp::Language.locale.strftime(@message_state.message.created_at, Pike::Application.configuration.format.date.long)

    %div.message
      %div.ui-body-d.ui-corner-all.ui-shadow.body
        :markdown
          #{@message_state.message.body}
