= RubyApp::Elements::Mobile::Navigation::NavigationLink.render(:js)
= Pike::Elements::Navigation::BackButton.render(:js)
= Pike::Elements::Pages::AboutPage.render(:js)
= Pike::Elements::Pages::ActivityListPage.render(:js)
= Pike::Elements::Pages::FriendshipListPage.render(:js)
= Pike::Elements::Pages::ProjectListPage.render(:js)
= Pike::Elements::Pages::RenamePropertyPage.render(:js)
= Pike::Elements::Pages::UserPage.render(:js)
= Pike::Elements::Pages::WorkReportPage.render(:js)
= yield
