- self.content_for(:html, :page) do
  /
    #{__FILE__}
  %div{'data-role'  => 'header',
       'data-theme' => 'b'}
    = @back_button.render(:html)
    %h1
      More
  %div{'style'      => 'padding-top: 0px',
       'data-role'  => 'content'}
    %ul{'data-inset'  => 'true',
        'data-role'   => 'listview',
        'data-theme'  => 'd'}
      %li
        = @project_list_link.render(:html) do |element|
          - element.content_for(:html, :link, 'Projects')
      %li
        = @activity_list_link.render(:html) do |element|
          - element.content_for(:html, :link, 'Activities')
      %li
        = @friendship_list_link.render(:html) do |element|
          - element.content_for(:html, :link, 'Friends')

    %ul{'data-inset'  => 'true',
        'data-role'   => 'listview',
        'data-theme'  => 'd'}
      %li
        = @work_report_link.render(:html) do |element|
          - element.content_for(:html, :link, 'Weekly Summary')

    %ul{'data-inset'  => 'true',
        'data-role'   => 'listview',
        'data-theme'  => 'd'}
      %li
        = @about_link.render(:html) do |element|
          - element.content_for(:html, :link, 'About')
