= RubyApp::Elements::Mobile::Navigation::NavigationLink.render(:css)
= Pike::Elements::Navigation::BackButton.render(:css)
= Pike::Elements::Pages::AboutPage.render(:css)
= Pike::Elements::Pages::ActivityListPage.render(:css)
= Pike::Elements::Pages::FriendshipListPage.render(:css)
= Pike::Elements::Pages::ProjectListPage.render(:css)
= Pike::Elements::Pages::WorkReportPage.render(:css)
= yield
