- self.content_for(:header_left) do
  /
    #{__FILE__}
  = @cancel_button.render(:html) do |element|
    - element.content_for(:body, 'Cancel')
- self.content_for(:header_center) do
  /
    #{__FILE__}
  Project
- self.content_for(:header_right) do
  /
    #{__FILE__}
  = @done_button.render(:html) do |element|
    - element.content_for(:body, 'Done')
- self.content_for(:content) do
  /
    #{__FILE__}
  %div.properties
    %div.property
      %div.name.last
        %label{:for => @name_input.element_id}
          Name
      %div.value.last
        = @name_input.render(:html) do |element|
          - element.attributes.merge!(:autofocus => true, :placeholder => 'tap to enter a name')
  %div.properties
    - @user.project_properties.sort.each do |property|
      %div.property
        %div.name
          = property
        %div.value
          - property_link = @property_links[property]
          = property_link.render(:html) do |element|
            - element.content_for(:body, @project.read_attribute(property) || '(no value)')
    %div.property
      %div.name.last
        &nbsp;
      %div.buttons.last
        = @add_button.render(:html) do |element|
          - element.content_for(:body, 'Add Property')
  - unless @project.new?
    %div.properties
      %div.property
        %div.name.last
          &nbsp;
        %div.buttons.last
          = @delete_button.render(:html) do |element|
            - element.attributes.merge!(:class => 'delete')
            - element.content_for(:body, 'Delete Project')
