- self.content_for(:header_left) do
  /
    #{__FILE__}
  = @cancel_button.render(:html) do |element|
    - element.content_for(:body, 'Cancel')
- self.content_for(:header_center) do
  /
    #{__FILE__}
  Project
- self.content_for(:header_right) do
  /
    #{__FILE__}
  = @done_button.render(:html) do |element|
    - element.content_for(:body, 'Done')
- self.content_for(:content) do
  /
    #{__FILE__}
  %table.properties{:cellspacing => 0}
    %tr.property
      %td.name
        %label{:for => @name_input.element_id}
          Name
      %td.value
        = @name_input.render(:html) do |element|
          - element.attributes.merge!(:autofocus => true, :placeholder => 'tap to enter a name', :disabled => @project.copy_of ? true : false)
        - if @project.copy_of
          %div.instructions
            :markdown
              Names of shared projects cannot be changed and they cannot be re-shared.
    %tr.property
      %td.name.last
        %label{:for => @is_shared_input.element_id}
          Shared
      %td.value.last
        = @is_shared_input.render(:html) do |element|
          - element.attributes.merge!(:autofocus => false, :disabled => @project.copy_of ? true : false)
  = @properties.render(:html)
  - unless @project.new? || @project.copy_of
    %table.properties{:cellspacing => 0}
      %tr.property
        %td.name.last
          &nbsp;
        %td.buttons.last
          = @delete_button.render(:html) do |element|
            - element.attributes.merge!(:class => 'delete', :disabled => @project.copy_of ? true : false)
            - element.content_for(:body, 'Delete Project')
