- self.content_for(:html, :page) do
  /
    #{__FILE__}
  %div{'data-role'  => 'header',
       'data-theme' => 'b'}
    = @back_button.render(:html)
    %h1
      Property
    = @done_button.render(:html)
  %div{'data-role'  => 'content',
       'style'      => 'padding-top: 0px'}
    %ul{'data-inset'  => 'true',
        'data-role'   => 'listview',
        'data-theme'  => 'd'}
      %li
        %label.ui-hidden-accessible{'for' => @name_input.element_id}
          Name
        = @name_input.render(:html)
      %li
        %label.ui-hidden-accessible{'for' => @value_input.element_id}
          Value
        = @value_input.render(:html)

    %p.instructions.delete{'style' => "display: #{@property && @property.copy? ? 'block' : 'none'}"}
      Properties shared with you by a friend cannot be deleted.

    %div.delete{'style' => "display: #{@property && !@property.copy? ? 'block' : 'none'}"}
      = @delete_button.render(:html) do |element|
        - element.content_for(:html, :link, 'Delete Property')
