- self.content_for(:html, :header_left) do
  /
    #{__FILE__}
  = @cancel_button.render(:html) do |element|
    - element.content_for(:html, :body, 'Cancel')
- self.content_for(:html, :header_center) do
  /
    #{__FILE__}
  Property
- self.content_for(:html, :header_right) do
  /
    #{__FILE__}
  = @done_button.render(:html) do |element|
    - element.content_for(:html, :body, 'Done')
- self.content_for(:html, :content) do
  /
    #{__FILE__}
  %table.properties{:cellspacing => 0}
    %tr.property
      - if @property
        %td.name
          Name
        %td.value
          = @property
      - else
        %td.name
          %label{:for => @property_input.element_id}
            Name
        %td.value
          = @property_input.render(:html) do |element|
            - element.attributes.merge!(:autofocus => true, :placeholder => 'tap to enter a name')
    %tr.property
      %td.name{:class => @property ? nil : 'last'}
        %label{:for => @value_input.element_id}
          Value
      %td.value{:class => @property ? nil : 'last'}
        = @value_input.render(:html) do |element|
          - element.attributes.merge!(:autofocus => @property ? true : false, :placeholder => 'tap to enter a value')
    - if @property
      %tr.property
        %td.name.last
          &nbsp;
        %td.buttons.last
          = @delete_button.render(:html) do |element|
            - element.attributes.merge!(:class => 'delete')
            - element.content_for(:html, :body, 'Remove Property')
