- self.content_for(:header_left) do
  /
    #{__FILE__}
  = @cancel_button.render(:html) do |element|
    - element.content_for(:body, 'Cancel')
- self.content_for(:header_center) do
  /
    #{__FILE__}
  Rename
- self.content_for(:header_right) do
  /
    #{__FILE__}
  = @done_button.render(:html) do |element|
    - element.content_for(:body, 'Done')
- self.content_for(:content) do
  /
    #{__FILE__}
  %table.properties{:cellspacing => 0}
    %tr.property
      %td.name
        %label{:for => @from_property_input.element_id}
          From
      %td.value
        = @from_property_input.render(:html) do |element|
          - element.attributes.merge!(:autofocus => true, :placeholder => 'tap to enter a name')
    %tr.property
      %td.name
        %label{:for => @to_property_input.element_id}
          To
      %td.value
        = @to_property_input.render(:html) do |element|
          - element.attributes.merge!(:placeholder => 'tap to enter a name')
