- self.content_for(:html, :page) do
  /
    #{__FILE__}
  %div{'data-role'  => 'header',
       'data-theme' => 'b'}
    = @back_button.render(:html)
    %h1
      Rename
    = @done_button.render(:html)
  %div{'data-role'  => 'content',
       'style'      => 'padding-top: 0px'}
    %ul{'data-inset'  => 'true',
        'data-role'   => 'listview',
        'data-theme'  => 'd'}
      %li
        %label.ui-hidden-accessible{'for' => @from_property_input.element_id}
          From
        = @from_property_input.render(:html)
      %li
        %label.ui-hidden-accessible{'for' => @to_property_input.element_id}
          To
        = @to_property_input.render(:html)
