= RubyApp::Elements::Button.render(:js)
= RubyApp::Elements::Dialogs::AcknowledgementDialog.render(:js)
= RubyApp::Elements::Dialogs::Calendars::MonthDialog.render(:js)
= RubyApp::Elements::Dialogs::ExceptionDialog.render(:js)
= RubyApp::Elements::Dialogs::MessageDialog.render(:js)
= RubyApp::Elements::Link.render(:js)
= RubyApp::Elements::Navigation::BackButton.render(:js)
= yield
