- self.content_for(:html, :header_left) do
  /
    #{__FILE__}
  = @back_button.render(:html) do |element|
    - element.content_for(:html, :body, 'Back')
- self.content_for(:html, :header_center) do
  /
    #{__FILE__}
  = @date_link.render(:html) do |element|
    - element.content_for(:html, :body, RubyApp::Language.locale.strftime(self.first_date, Pike::Application.configuration.format.date.short))
- self.content_for(:html, :header_right) do
  /
    #{__FILE__}
  - unless Pike::Session.identity.user.demo_user?
    = @export_button.render(:html) do |element|
      - element.content_for(:html, :body, 'Export')
- self.content_for(:html, :content) do
  /
    #{__FILE__}
  - tasks = Pike::Session.identity.user.tasks.all.collect
  %div.total
    Total:
    %span.total
  - is_even = true
  - total = 0
  - (0..6).each do |index|
    - date = self.first_date + index
    %div.day
      = RubyApp::Language.locale.strftime(date, Pike::Application.configuration.format.date.short)
    - tasks.each do |task|
      - work = task.work.where_date(date).first
      - if work && work.duration && work.duration > 0
        %div.task_work{:class => is_even ? 'even' : 'odd'}
          %div.task
            %div.project
              = task.project.name
            %div.activity
              = task.activity.name
          %div.work
            = ChronicDuration.output(work.duration)
        - is_even = !is_even
        - total += work.duration
  :javascript
    $('span.total').text(#{ChronicDuration.output(total).to_json});
