- self.content_for(:header_center) do
  /
    #{__FILE__}
  Started Tasks
- self.content_for(:header_right) do
  /
    #{__FILE__}
  = @continue_button.render(:html) do |element|
    - element.content_for(:body, 'Continue')
- self.content_for(:content) do
  /
    #{__FILE__}
  :markdown
    The following tasks were started before today and are not finished.
    They will be finished once you click **Continue**.

  = @started_work_list.render(:html)
