= RubyApp::Elements::Button.render(:css)
= RubyApp::Elements::Dialogs::ExceptionDialog.render(:css)
= RubyApp::Elements::Link.render(:css)
= RubyApp::Elements::Navigation::BackButton.render(:css)
= yield
