= Pike::Elements::Properties.render(:js)
= RubyApp::Elements::Button.render(:js)
= RubyApp::Elements::Dialogs::ExceptionDialog.render(:js)
= RubyApp::Elements::Link.render(:js)
= RubyApp::Elements::Navigation::BackButton.render(:js)
= yield
