- self.content_for(:header_left) do
  /
    #{__FILE__}
  = @cancel_button.render(:html) do |element|
    - element.content_for(:body, 'Cancel')
- self.content_for(:header_center) do
  /
    #{__FILE__}
  Task
- self.content_for(:header_right) do
  /
    #{__FILE__}
  = @done_button.render(:html) do |element|
    - element.content_for(:body, 'Done')
- self.content_for(:content) do
  /
    #{__FILE__}
  %div.properties
    %div.property
      %div.name
        Project
      %div.value{:class => @task.project ? '' : 'blank'}
        = @project_link.render(:html) do |element|
          - element.content_for(:body, @task.project ? @task.project.name : 'tap for a project')
    %div.property
      %div.name
        Activity
      %div.value{:class => @task.activity ? '' : 'blank'}
        = @activity_link.render(:html) do |element|
          - element.content_for(:body, @task.activity ? @task.activity.name : 'tap for an activity')
    %div.property
      %div.name.last
        Category
      %div.value.last
        = @flag_link.render(:html) do |element|
          - element.content_for(:body, Pike::Task::FLAG_NAMES[@task.flag])
        %div.instructions
          :markdown
            **Liked** tasks appear at the top of the list.

            **Completed** tasks appear at the bottom of the list.
