-#= RubyApp::Elements::Mobile::Dialogs::AcknowledgementDialog.render(:js)
-#= RubyApp::Elements::Mobile::Dialogs::ExceptionDialog.render(:js)
= Pike::Elements::Inputs::ToggleInput.render(:js)
= Pike::Elements::Inputs::UserInput.render(:js)
= Pike::Elements::Navigation::BackButton.render(:js)
= Pike::Elements::Navigation::SaveButton.render(:js)
= yield
