= RubyApp::Elements::Mobile::Button.render(:css)
= RubyApp::Elements::Mobile::Dialogs::Calendars::MonthDialog.render(:css)
= RubyApp::Elements::Mobile::Navigation::NavigationButton.render(:css)
= Pike::Elements::WorkReport.render(:css)
= yield
