= RubyApp::Elements::Mobile::Button.render(:js)
= RubyApp::Elements::Mobile::Dialogs::Calendars::MonthDialog.render(:js)
= RubyApp::Elements::Mobile::Navigation::NavigationButton.render(:js)
-#= Pike::Elements::IntroductionList.render(:js)
= Pike::Elements::Pages::MorePage.render(:js)
= Pike::Elements::WorkList.render(:js)
= yield
