= RubyApp::Elements::Mobile::Button.render(:css)
= RubyApp::Elements::Mobile::Dialogs::Calendars::MonthDialog.render(:css)
= RubyApp::Elements::Mobile::Navigation::NavigationButton.render(:css)
= Pike::Elements::Pages::FriendshipListPage.render(:css)
= Pike::Elements::Pages::MorePage.render(:css)
= Pike::Elements::Pages::TaskPage.render(:css)
= Pike::Elements::Pages::WorkPage.render(:css)
= Pike::Elements::WorkList.render(:css)
= yield
