= Pike::Elements::WorkList.render(:js)
= RubyApp::Elements::Button.render(:js)
= RubyApp::Elements::Dialogs::Calendars::MonthDialog.render(:js)
= RubyApp::Elements::Dialogs::MessageDialog.render(:js)
= RubyApp::Elements::Link.render(:js)
= RubyApp::Elements::Markdown.render(:js)
= yield
