- self.content_for(:html, :page) do
  /
    #{__FILE__}
  %div{'data-role'  => 'header',
       'data-theme' => 'b'}
    = @more_button.render(:html) do |element|
      - element.content_for(:html, :link, 'More ...')
    %h1
      = RubyApp::Language.locale.strftime(@work_list.date, Pike::Application.configuration.format.date.short)
    = @logoff_button.render(:html) do |element|
      - element.content_for(:html, :link, 'Logoff')
  %div{'data-role' => 'content'}
    = @work_list.render(:html)
