- self.content_for(:html, :header_left) do
  /
    #{__FILE__}
  = @cancel_button.render(:html) do |element|
    - element.content_for(:html, :body, 'Cancel')
- self.content_for(:html, :header_center) do
  /
    #{__FILE__}
  Work
- self.content_for(:html, :header_right) do
  /
    #{__FILE__}
  = @done_button.render(:html) do |element|
    - element.content_for(:html, :body, 'Done')
- self.content_for(:html, :content) do
  /
    #{__FILE__}
  %table.properties{:cellspacing => 0}
    %tr.property
      %td.name
        Project
      %td.value
        = @project_link.render(:html) do |element|
          - element.content_for(:html, :body, @work.task.project ? @work.task.project.name : 'tap for a project')
    %tr.property
      %td.name
        Activity
      %td.value
        = @activity_link.render(:html) do |element|
          - element.content_for(:html, :body, @work.task.activity ? @work.task.activity.name : 'tap for an activity')
    %tr.property
      %td.name
        Category
      %td.value
        = @flag_link.render(:html) do |element|
          - element.content_for(:html, :body, Pike::Task::FLAG_NAMES[@work.task.flag])
        %div.instructions
          :markdown
            **Liked** tasks appear at the top of the list.

            **Completed** tasks appear at the bottom of the list.
    %tr.property
      %td.name
        Date
      %td.value
        = RubyApp::Language.locale.strftime(@work.date, Pike::Application.configuration.format.date.short)
    %tr.property
      %td.name.last
        %label{:for => @duration_input.element_id}
          Duration
      %td.value.last
        = @duration_input.render(:html) do |element|
          - element.attributes.merge!(:autofocus => true, :placeholder => 'tap to enter a duration')
        %div.instructions
          (e.g. 2h 30m)
  = @properties.render(:html)
  %table.properties{:cellspacing => 0}
    %tr.property
      %td.name.last
        &nbsp;
      %td.buttons.last
        = @delete_button.render(:html) do |element|
          - element.attributes.merge!(:class => 'delete')
          - element.content_for(:html, :body, 'Delete Task')
