:sass
  /* #{__FILE__}
  ul
    li
      div.introduction
        div.message
          font-size: 80%
= Pike::Elements::FriendshipList::FriendshipListAddFriendshipItem.render(:css)
= Pike::Elements::FriendshipList::FriendshipListFriendshipDivider.render(:css)
= Pike::Elements::FriendshipList::FriendshipListFriendshipItem.render(:css)
= Pike::Elements::FriendshipList::FriendshipListIntroductionDivider.render(:css)
= Pike::Elements::FriendshipList::FriendshipListIntroductionItem.render(:css)
= yield
