= Pike::Elements::FriendshipList::FriendshipListAddFriendshipItem.render(:css)
= Pike::Elements::FriendshipList::FriendshipListFriendshipDivider.render(:css)
= Pike::Elements::FriendshipList::FriendshipListFriendshipItem.render(:css)
= Pike::Elements::FriendshipList::FriendshipListIntroductionDivider.render(:css)
= Pike::Elements::FriendshipList::FriendshipListIntroductionItem.render(:css)
= Pike::Elements::Pages::FriendshipPage.render(:css)
= Pike::Elements::Pages::IntroductionPage.render(:css)
= Pike::Elements::Pages::IntroductionAsTargetPage.render(:css)
= yield
