= Pike::Elements::FriendshipList::FriendshipListAddFriendshipItem.render(:js)
= Pike::Elements::FriendshipList::FriendshipListFriendshipDivider.render(:js)
= Pike::Elements::FriendshipList::FriendshipListFriendshipItem.render(:js)
= Pike::Elements::FriendshipList::FriendshipListIntroductionDivider.render(:js)
= Pike::Elements::FriendshipList::FriendshipListIntroductionItem.render(:js)
= Pike::Elements::Pages::FriendshipPage.render(:js)
= Pike::Elements::Pages::IntroductionPage.render(:js)
= Pike::Elements::Pages::IntroductionAsTargetPage.render(:js)
= yield
