= Pike::Elements::FriendshipList::FriendshipListAddFriendshipItem.render(:css)
= Pike::Elements::FriendshipList::FriendshipListFriendshipDivider.render(:css)
= Pike::Elements::FriendshipList::FriendshipListFriendshipItem.render(:css)
= Pike::Elements::FriendshipList::FriendshipListIntroductionDivider.render(:css)
= Pike::Elements::FriendshipList::FriendshipListIntroductionItem.render(:css)
= yield
