= Pike::Elements::Pages::ProjectPage.render(:js)
= Pike::Elements::ProjectSelect::ProjectSelectAddItem.render(:js)
= Pike::Elements::ProjectSelect::ProjectSelectItem.render(:js)
= Pike::Elements::ProjectSelect::ProjectSelectedItem.render(:js)
= yield
