/
  #{__FILE__}
%ul.properties{attributes}
  - properties = @user.send(@properties).sort
  - properties.each do |property|
    %li.property
      - property_link = @property_links[property]
      = property_link.render(:html) do |element|
        - element.content_for(:html, :link) do
          %span.name
            = property
          - if @object.read_attribute(property)
            %span.value.ui-li-aside
              = @object.read_attribute(property)
  %li{'data-icon' => 'plus'}
    = @add_link.render(:html) do |element|
      - element.content_for(:html, :link) do
        %span.ui-disabled
          tap to add a property
