= Pike::Elements::Pages::FriendshipListPage.render(:js)
= Pike::Elements::Pages::MessageStateListPage.render(:js)
= Pike::Elements::Pages::TaskPage.render(:js)
= Pike::Elements::Pages::WorkPage.render(:js)
= Pike::Elements::WorkList::WorkListAddTaskItem.render(:js)
= Pike::Elements::WorkList::WorkListFlagDivider.render(:js)
= Pike::Elements::WorkList::WorkListFriendshipItem.render(:js)
= Pike::Elements::WorkList::WorkListImportItem.render(:js)
= Pike::Elements::WorkList::WorkListStartedDivider.render(:js)
= Pike::Elements::WorkList::WorkListStartedItem.render(:js)
= Pike::Elements::WorkList::WorkListTotalDivider.render(:js)
= Pike::Elements::WorkList::WorkListWelcomeItem.render(:js)
= Pike::Elements::WorkList::WorkListItem.render(:js)
= yield
