:sass
  /* #{__FILE__}
  ul
    li.ui-li-has-count
      div.task
        div.activity
          font-size: 80%
      span.ui-li-count
        margin-right: 7px
= Pike::Elements::Pages::TaskPage.render(:css)
= Pike::Elements::Pages::WorkPage.render(:css)
= Pike::Elements::WorkList::WorkListAddItem.render(:css)
= Pike::Elements::WorkList::WorkListStartedDivider.render(:css)
= Pike::Elements::WorkList::WorkListFlagDivider.render(:css)
= Pike::Elements::WorkList::WorkListItem.render(:css)
= Pike::Elements::WorkList::WorkListStartedItem.render(:css)
= yield
