:sass
  /* #{__FILE__}
  ul.work-list
    li.work-list-item.ui-li-has-count
      div.task
        div.activity
          font-size: 80%
      span.ui-li-count
        margin-right: 7px
= Pike::Elements::WorkList::WorkListAddTaskItem.render(:css)
= Pike::Elements::WorkList::WorkListFlagDivider.render(:css)
= Pike::Elements::WorkList::WorkListFriendshipListItem.render(:css)
= Pike::Elements::WorkList::WorkListStartedDivider.render(:css)
= Pike::Elements::WorkList::WorkListStartedWorkItem.render(:css)
= Pike::Elements::WorkList::WorkListTotalDivider.render(:css)
= Pike::Elements::WorkList::WorkListWorkItem.render(:css)
= yield
