/
  #{__FILE__}
%ul.list{attributes}
  %li.total
    Total:
    %span.total
  - is_even = true
  - total = 0
  - self.items.each_with_index do |item, index|
    - unless item.task.flag == @flag
      %li.flag
        = Pike::Task::FLAG_NAMES[item.task.flag]
    %li.item{:class => ( item.work.started? ? 'started' : ( is_even ? 'even' : 'odd' ) ), :project => item.task.project.name, :activity => item.task.activity.name, :index => index}
      %div.item
        - item.work.update_duration!
        - if today?
          %a.start{:class => item.work.started? ? 'started' : nil, :href => '', :index => index}
        %a.edit{:href => '', :index => index}
          %div.task_work
            %div.task
              %div.project
                = item.task.project.name
              %div.activity
                = item.task.activity.name
            %div.work{:class => ( item.work.duration && item.work.duration > 0 ) ? nil : :'blank', :work_id => item.work.id}
              = ChronicDuration.output(item.work.duration || 0)
    - is_even = !is_even
    - total += item.work.duration || 0
    - @flag = item.task.flag
  :javascript
    $('span.total').text(#{ChronicDuration.output(total).to_json});
