/
  #{__FILE__}
%ul{attributes}
  -# RubyApp::Log.debug("#{RubyApp::Log.prefix(self, __method__)} @date.week_start=#{@date.week_start.inspect} @date.week_end=#{@date.week_end.inspect}")
  - week_start = @date.week_start
  - index = 0
  - Pike::Session.identity.user.work.where_week(@date).each do |work|
    - while week_start + index <= work.date
      %li.divider{'data-role' => 'list-divider'}
        = RubyApp::Language.locale.strftime(week_start + index, Pike::Application.configuration.format.date.short)
        - index = index + 1
    - if work.duration_minutes > 0
      %li.work-report-item
        %div.task
          %div.project
            = work.task.project.name
          %div.activity
            = work.task.activity.name
          - if work.note
            %div.note
              = work.note
        %span.ui-li-count
          = ChronicDuration.output(work.duration_minutes)
  - week_end = @date.week_end
  - while week_start + index <= week_end
    %li.divider{'data-role' => 'list-divider'}
      = RubyApp::Language.locale.strftime(week_start + index, Pike::Application.configuration.format.date.short)
      - index = index + 1
