= Pike::Elements::WorkList::WorkListAddTaskItem.render(:js)
= Pike::Elements::WorkList::WorkListFlagDivider.render(:js)
= Pike::Elements::WorkList::WorkListFriendshipListItem.render(:js)
= Pike::Elements::WorkList::WorkListStartedDivider.render(:js)
= Pike::Elements::WorkList::WorkListStartedWorkItem.render(:js)
= Pike::Elements::WorkList::WorkListWorkItem.render(:js)
= yield
