= Pike::Elements::Pages::TaskPage.render(:js)
= Pike::Elements::Pages::WorkPage.render(:js)
= Pike::Elements::WorkList::WorkListAddItem.render(:js)
= Pike::Elements::WorkList::WorkListStartedDivider.render(:js)
= Pike::Elements::WorkList::WorkListFlagDivider.render(:js)
= Pike::Elements::WorkList::WorkListItem.render(:js)
= Pike::Elements::WorkList::WorkListStartedItem.render(:js)
= yield
